*{
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
    background: url("mountains.png") no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
}
#description{
    margin-bottom: 20px;
}
#survey-form{
    display: flex;
    background: rgba(0, 0, 0, 0.347);
    color: #fff;
    border-radius: 9px;
    backdrop-filter: blur(4px);
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}
label{
    margin: 15px 0;
    width: 400px;
}
label input , select , textarea{
    width: 500px;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border: none;
    resize: vertical;
    border-radius: 5px;
}
.check-options{
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.text{
    margin: 10px;
}
.text > p{
    margin: 10px 0;
}
#button{
    padding: 7px 10px;
    border: none;
    border-radius: 9px;
    color: #fff;
    background: blue;
    outline: none;
    cursor: pointer;
    transition: all ease-out .4s;
}
#button:hover{
    background: rgb(3, 3, 147);
}

@media only screen and (max-width: 650px){
    body{
        position: relative;       
        width: 100%;
    }
    #title{
        font-size: 2.5em;
        text-align: center;
    }
    #description{
        font-size: 1.5em;
    text-align: center;
    }
    #survey-form{
        position: relative;
        width: 85%;
        font-size: 20px;
    }
    label{
        position: relative;
    width: 100%;
    }
    label > input, select, textarea{
        position: relative;
        width: 95%;
        font-size: 20px;
    }
    #button{
        font-size: 30px;
    }
}